<%= flash[:message] %>

<section>
  <h2><%= @recipe.name %></h2>
  <div id="edit-delete">
    <a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
  </div>

  <h4>Estimated Total Time</h4>
  <p><%= @recipe.cooktime %></p>

  <h4>Ingredients</h4>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
    <% end %>
  </ul>

  <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe" id="delete-btn">
  </form>
  <br>
  <a href="/recipes">back</a>
</section>
